<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>730887946205-hh65khsiaraon9ss81rd8k1vv6fc33b5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.730887946205-hh65khsiaraon9ss81rd8k1vv6fc33b5</string>
	<key>API_KEY</key>
	<string>AIzaSyBacQ6wpRC4tDJZnDvLE6XTL3nkEWCsUY8</string>
	<key>GCM_SENDER_ID</key>
	<string>730887946205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.youtubeSnsApp</string>
	<key>PROJECT_ID</key>
	<string>sns-3c4fc</string>
	<key>STORAGE_BUCKET</key>
	<string>sns-3c4fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730887946205:ios:82fd89dd69a317cb838034</string>
	<key>DATABASE_URL</key>
	<string>https://sns-3c4fc.firebaseio.com</string>
</dict>
</plist>